.main{
    width: 100%;
    height: 100svh;
    z-index: 0;
align-items: center;  
}
.box{
    z-index: -1;
    position: relative;
    bottom: 80%;
}
.d1{
    width: 100%;
    height: 50%;
   /* background-color: blueviolet; */
   animation-name: day;
   animation-duration:10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

   



}
.d2{
    width: 100%;
    height: 50%;
   /* background-color: blue; */
   animation-name: night;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   
}
.sm{
    width: 20%;
    height: 80svh;
    z-index: 2;
    position: relative;
    left: 40%;
    top: 10%;
    animation-name: ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(90deg);
    
 
}
.box1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;


}

.box2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
 
}
.moon{
    width: 80px;
    height: 80px;
    background: radial-gradient(rgb(127, 124, 124) 1%,white 80%);
    box-shadow: 0 0 15px 10px rgb(206, 177, 177);
    border-radius: 100%;
    background-image: url("./imges/moon.jpg");
    background-size: cover;


}
.sun{
    width: 80px;
    height: 80px;
   background: radial-gradient(orange,yellow);
    box-shadow: 0 0 15px 10px rgb(229, 160, 0);
    border-radius: 100%;
    border: 1px solid rgb(210, 109, 27);
    
}

@keyframes ani{
    0%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(450deg);
    }
   
}
@keyframes day{
    0%{
        background-image: url("./imges/day.avif");
        background-size: cover;
    
    }
    
    100%{
        background-image: url("./imges/wp12670893.jpg") ;
        background-size: cover;
    
    }
}
@keyframes night{
   
    0%{
        background-image: url("./imges/wp12670893.jpg") ;
        background-size: cover;
    }
    100%{
        background-image: url("./imges/day.avif");
        background-size: cover;

    }
   
}
