body{
    background: linear-gradient(gray,black,gray);
    color: rgb(177, 245, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
table{
    color: rgb(230, 238, 8);
    width: 100%;
    transition: all 1s;
    border-radius: 10px;
    
}
td,th{
    width:100px;
    color: rgb(9, 10, 10);
    /* background-color: blue; */
    text-align: center;
    border:2px solid black;
}
th{
    background:linear-gradient(yellow,red);
    
}
tr:hover{
    background: linear-gradient( yellow,green);
    transform: scale(1.01);
    text-shadow: 0 0 5px black;
}
